.nav{
  background-color: #000;
}
.largenav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 140px;
    height: 89px;
  }
  .headerlist {
    display: flex;
    list-style-type: none;
  }
  .headerlistli {
    margin-right: 20px;
    color: #64748b;
  }
  .headerlistli:hover {
    color: yellow;
    border-bottom: 1px solid yellow;
  }
  .linkstyle {
    text-decoration: none;
    text-decoration-style: none;
  }
  .active {
    color: orangered;
  }
  .shortnav {
    display: none;
  }
  .menu {
    display: none;
  }
  .logoimg{
    width: 90px;
  }
  
  @media screen and (max-width: 992px) {
    .largenav {
      display: none;
    }
    .shortnav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0px 40px;
      height: 56px;
    }
    .hamburgerbtn {
      color: #fff;
      border: 0px;
      font-size: 29px;
      background-color: transparent;
    }
    .menu {
      display: flex;
      padding-left: 0px;
    }
    .headerlist {
      justify-content: space-between;
      align-items: center;
      min-width: 100vw;
    }
  }
  